@import url("https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Philosopher:ital,wght@0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;1,500&family=Poppins:wght@300;400;500&family=Raleway:wght@700;900&display=swap");

.h1-services {
  max-width: 1500px;
  padding-top: 1rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #244c4eff;
}

.p-services {
  padding-top: 2.5rem;
  padding-left: 2rem;
  font-weight: 700;
}

.ul-services {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.testimonials {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  display: block;
  width: 100%;
  min-height: 250px;
  padding-bottom: 3rem;
}

.testimonials ul {
  list-style: none;
  padding: 0;
}

.testimonials li {
  display: inline-block;
  background-color: white;
  margin: 50px 10px 10px 10px;
  width: calc((100% - 55px) / 2);
  height: 200px;
  border: solid 1px #bdbdbd;
  position: relative;
  transition: ease-in-out 0.3s;
}

.testimonials li img {
  height: 70px;
  width: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 15px #fff;
  background-color: #fff;
  transition: box-shadow 0.3s linear;
}

.testimonials li p {
  position: absolute;
  width: 70%;
  text-align: center;
  top: 50px;
  left: 50%;
  transform: translatex(-50%);
  font-size: 15px;
}

.testimonials li h1 {
  position: absolute;
  text-decoration: bold;
  bottom: 10px;
  left: 50%;
  transform: translatex(-50%);
  font-size: 17px;
}

.testimonials li:hover {
  background-color: black;
  color: #fff;
}

.testimonials li:hover img {
  box-shadow: 0px 0px 0px 2px #fff;
}

label {
  color: darkcyan;
  font-weight: 500;
}

.bg-services {
  background-image: url("../images/palm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  display: fixed;
}

.place-form{
  background-color: whitesmoke;
}

@media only screen and (max-width: 860px) {
  .testimonials li {
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 70px;
  }

  .testimonials li:first-child {
    margin-top: 50px;
  }
}

.container {
  display: block;
  width: 70%;
  margin: auto;
  height: 100%;
  margin-top: 20px;
  text-align: justify;
}

@media only screen and (max-width: 750px) {
  .testimonials {
   display: none;
  }
  .finder-p {
    font-size: 12px;
  }
  }


/* .container h1,
h2,
h3 {
  margin-top: 15px;
  margin-left: 0;
  font-weight: 400;
}

.container span {
  color: #757575;
  font-weight: 600;
} */
