@import url("https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Philosopher:ital,wght@0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;1,500&family=Poppins:wght@300;400;500&family=Raleway:wght@700;900&display=swap");

.AboutTitle {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #244c4eff;
}

.h1-about {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #244c4eff;
}

.h2-about {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #244c4eff;
}

.grid {
  font-size: 16px;
  line-height: 25px;
  color: black;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  border: none;
  margin-bottom: 3rem;
}

.rounded-circle{
  border-radius: 4px;
}

@media only screen and (max-width: 750px) {
  div.team-grid {
   display: none;
  }
  .h2-about{
    display: none;
  }
  }