@import url("https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Philosopher:ital,wght@0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;1,500&family=Poppins:wght@300;400;500&family=Raleway:wght@700;900&display=swap");

.h1-home {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.p-home {
  max-width: 500px;
  padding-top: 0.5rem;
  font-weight: 600;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}
.p-home1 {
  max-width: 500px;
  font-size: 19px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.btn-1 {
  width: 100px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background-color: rgb(255, 255, 255);
}

.btn-1:hover {
  color: #f0e809;
  background: transparent;
  box-shadow: none;
}
.btn-1:before,
.btn-1:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.btn-1:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-1:hover:before,
.btn-1:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
