@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Philosopher:ital,wght@0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;1,500&family=Poppins:wght@300;400;500&family=Raleway:wght@700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Home background image */
.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../public/images/bg4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Header Styling */
header{
  padding-top: 1rem;
  height: 7.6rem;
}

/* Navlink Font Styling */
.nav-link{
  font-weight: 500;
  font-size: 18px;
}

 /* Navlink Underline Effect */
.nav-link:hover:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #86e7b8;
  margin-top: 5px;
}

