@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Philosopher:ital,wght@0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;1,500&family=Poppins:wght@300;400;500&family=Raleway:wght@700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Home background image */
.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./components/images/bg4.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Header Styling */
header {
  padding-top: 1rem;
  height: 7.6rem;
  background-color: #244c4eff;
}

/* Navlink Font Styling */
.nav-link {
  font-weight: 500;
  font-size: 18px;
}

/* Navlink Underline Effect */
.nav-link:hover:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #219ebc;
  margin-top: 5px;
}
/* NavItem Font Styling */
.nav-item {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

@media only screen and (max-width: 750px) {
  .nav-link{
   font-size: 16px;
  }
 
  }
